
<!-- views/post.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/css/post-styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    {{!-- {{#if currentUser}}
      <h1>View My Posts</h1>
    {{/if}} --}}
  {{#if posts.length}}
            {{#each posts}}
            
    <div id="post-container" class="post">
        <div class="post-header">
            <img class="profile-pic" src="{{this.image}}" alt="Profile Picture">
            <span class="username">{{this.author}}</span>
            {{!-- <div class="share-menu">
                <i class="fas fa-ellipsis-h" onclick="toggleShareMenu()"></i>
                <div id="share-options" class="share-options">
                    <a href="#" onclick="copyToClipboard('{{this.shareLink}}')">Share Post</a>
                    <a href="#" onclick="">Visit Profile</a>
                </div>
            </div> --}}

            <div class="share-menu">
                <i class="fas fa-ellipsis-h" onclick="toggleShareMenu('{{this._id}}')"></i>
                <div id="share-options-{{this._id}}" class="share-options">
                    <a href="#" onclick="copyToClipboard('{{this.shareLink}}')">Share Post</a>
                    <a href="#">Visit Profile</a>
                </div>
            </div>
        </div>
        {{#if this.image}}
        <center><img  src="{{this.image}}" alt="Post Image" style="border-radius: 15px;"></center>
        {{/if}}
        
        <div class="post-content">
            <p class="post-title">{{this.title}}</p>
            <p class="post-description">{{this.content}}</p>
            <p class="post-date">{{this.createdAt}}</p>
            <p class="post-date">{{this.timeElapsed}} ago</p>
            
        </div>


        <div class="post-actions">
          <button class="like-button" onclick="likePost('{{this._id}}')">Like</button>
          {{!-- <span id="like-count">{{this.likes}}</span> --}}
          <button class="comment-button" onclick="toggleCommentSection('{{this._id}}')">Comment</button>
        </div>


        <div class="comments-section" id="comments-{{this._id}}" style="display: none;">
    <div class="comments-list">
      {{#each this.comments}}
      <div class="comment">
        <p>{{this.content}}</p>
      </div>
      {{/each}}
    </div>
    <input type="text" class="comment-input" id="comment-input-{{this._id}}" placeholder="Add a comment...">
    <button class="submit-comment" onclick="submitComment('{{this._id}}')">Submit</button>
  </div>



        <div class="comments-section">
            <h2>Comments</h2>
            <div class="comments-list">
                <!-- Comments will be dynamically inserted here -->
            </div>
            <textarea class="comment-input" placeholder="Add a comment..."></textarea>
            <button class="submit-comment" id="specialButton">Submit</button>
        </div>



    </div>
  

    {{/each}}
        {{else}}
            <p>No posts available</p>
        {{/if}}

    <script src="/js/post.js"></script>
    <script src="/js/script.js"></script>
    <script>

function toggleShareMenu(postId) {
    // Close all share menus first
    var allShareOptions = document.querySelectorAll(".share-options");
    allShareOptions.forEach(function(menu) {
        if (menu.id !== "share-options-" + postId) {
            menu.style.display = "none";
        }
    });

    // Toggle the specific menu
    var shareOptions = document.getElementById("share-options-" + postId);
    if (shareOptions.style.display === "block") {
        shareOptions.style.display = "none";
    } else {
        shareOptions.style.display = "block";
    }
}


function copyToClipboard(text) {
    navigator.clipboard.writeText(text).then(function() {
        alert('Share link copied to clipboard');
    }, function(err) {
        console.error('Could not copy text: ', err);
    });
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
    if (!event.target.matches('.fas')) {
        var dropdowns = document.getElementsByClassName("share-options");
        for (var i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.style.display === "block") {
                openDropdown.style.display = "none";
            }
        }
    }
}


async function fetchAndUpdatePost(postId) {
    const postContainer = document.getElementById('post-container-' + postId);
    if (!postContainer) return; // No post container found

    try {
        const response = await fetch(`/posts/post/${postId}`);
        if (!response.ok) throw new Error('Network response was not ok');
        const post = await response.json();

        console.log('Fetched post:', post);

        // Update post content
        postContainer.querySelector('.post-title').innerText = post.title;
        postContainer.querySelector('.post-description').innerText = post.content;
        postContainer.querySelector('.post-image').src = post.image;
        postContainer.querySelector('.username').innerText = post.author.username;
        postContainer.querySelector('.profile-pic').src = post.author.profilePic;
    } catch (error) {
        console.error('Error fetching the post:', error);
    }
}

// Call fetchAndUpdatePost for each post, or as needed
document.querySelectorAll('.post-container').forEach(function(container) {
    const postId = container.getAttribute('data-id');
    setInterval(fetchAndUpdatePost(postId), 60000);
});

// Update post content every minute
// Make sure to handle this logic based on your use case


    // Update post content every minute

    // Initial call to fetch and update post content on page load



    </script>
</body>
</html>


